* {
  margin: 0;
  padding: 0;
  color: #e1eef6;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #004e66;
}

#wrap {
  margin: 0 auto;
}

#regbar {
  background: #34495e;
  padding-bottom: 0.25rem;
}

#navthing {
  margin-left: 50px;
}

h2 {
  padding: 20px;
}

fieldset {
  border: none;
}

.login, .register {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder, .formholder label {
  background: #ecf0f1;
  width: 400px;
  border-radius: 5px;
  padding-top: 5px;
  color:rgb(80,80,80);
}
.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  color:rgb(60,60,60);
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #ff5f2e;
  padding: 10px;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #fcbe32;
}

.randompad {
  padding: 10px;
}

.green {
  color: #ff5f2e;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #ff5f2e;
}

#begin-feed, #view-reports{
  background: #ff5f2e;
  padding: 10px;
  font-size: 1.2rem;
  display: inline-block;
  margin: 2rem;
  text-align: center;
  width: 200px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
#main-ui{
  width: 100%;
  max-width:900px;
  margin: 30px auto 0 auto;
  border: 2px solid #e1eef6;
  border-radius: 15px;
  text-align: center;
}

.row::after{
  content: "";
  display: block;
  clear:both;
}

.row>div{
  float:left;
  box-sizing:border-box;
  width:20%;
  margin: 0 2.5% 0 2.5%;
  text-align: center;
}

#events>div{
  border-radius: 100%;
  border: 2px solid #e1eef6;
  height: calc(width);
}

#spa-panel{
  margin: 35px;
  text-align: center;
}

#stopwatch{
  text-align: center;
}
#time-display{
  font-family: 'Share Tech Mono', monospace;
  font-size: 3rem;
}
#stopwatch i{
  font-size: 4rem;
}
#stopwatch-feedback{
  margin-top:2rem;
}
.mobonly{ 
  display:none;
}

@media screen and (max-device-width:900px){
  body{
    font-size:30px;
  }
  #begin-feed, #view-reports{
    width: 40%;
    font-size: 3rem;
  }
  #stopwatch *{
    font-size: 200%;
  }
  #stopwatch i{
    font-size: 10rem !important;
  }
  #stopwatch i::after{
    font-size: 2rem !important;
    bottom:-30px;
  }
  .row>div{
    width:45%;
    margin-bottom: 2rem;
  }
  .hidden-xs{
    display:none;
  }
  .mobonly{
    display:inline;
  }
  #stopwatch i{
    font-size: 5rem;
  }
  .formholder, #navthing{
    font-size: 3rem;
  }
  .formholder input[type="email"], .formholder input[type="password"],.formholder input[type="submit"] {
    font-size:3rem;
  }
  .formholder{
    width:85%;
    min-width:600px;
  }
  #main-ui{
    font-size: 1.5em !important;
  }
}

.hoverable:hover{
  cursor: pointer;
}

#playbtn, #pausebtn, #stopbtn, #savebtn, #resetbtn{
  position: relative;
}

#playbtn::after, #pausebtn::after, #stopbtn::after, #savebtn::after, #resetbtn::after{
  content: "Start";
  position:absolute;
  bottom:-15px;
  font-size: 1rem;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  font-family: 'Share Tech Mono', monospace;
}

#pausebtn::after{ content: "Pause";}
#stopbtn::after{content: "Stop";}
#savebtn::after{content: "Save";}
#resetbtn::after{content: "Reset";}


/* REPORTS */
#reports h3:last{
  margin-bottom:30px;
}
#reports table{
  margin: 0 auto;
}

#reports td{
  padding: 5px 25px;
  border: 2px solid #e1eef6;
}